.options-opener {
    margin: 0em 0em;
    color: black;
    background-color: white;
    padding: 1em;
    border-radius: 10px;

    &:hover {
        background-color: #172b4d;
        color: white;
    }
}
.options-holder {
    position: absolute;
    left:10em;
    margin: 0.5em 0em;
    display: block;
    background-color: #172b4d;
  
    border-radius: 20px;
    padding: 2em 1em;
    z-index: 1000;

    &.active {
        background-color: #172b4d;
        color: white;
    }
}
.options {
    margin: 1em;
    padding: 0.625rem 1.25rem;
    font-weight: 600;
    color: white;

    &:hover {
        background-color: white;
        color: black;
    }
    &:focus {
         background-color: white;
        color: black;
    }
}
.manage {
    margin: 2em 0em;
    font-size: 1.4rem;
    display: block;
    color: white;
}

.placeholder {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
}
.center-tag {
    margin: auto;
    text-align: center;
}

